body {
    margin: 0;
    padding: 0;
    background-image: url(../images/background-img.jpg);
    font-family: sans-serif;
}

section {
    padding: 0 100px;
   
    height: 100vh;
    display: flex;
    text-align: center;
}