nav {
    background-color: rgb(221, 214, 214);
    min-height: 100px;
    border-bottom: black 2px solid;
}

.bold {
    font-size: 18px;
    font-family: fantasy;
}

/* Container holding the image and the text */
.home-image-text {
    position: relative;
    font-family: fantasy;
    font-size: 69px;
    text-align: center;
    color: rgb(207, 165, 165);
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.form-group,
#contact-btn {
    margin-left: 50px;
    margin-right: 100px;

}

#navbarTogglerDemo01 ul li a {
    font-size: 20px;
    font-weight: bold;
}

#logo {
    font-size: 24px;
    font-weight: bolder;
}